# Add files here to ignore them from prettier formatting

/**/__generated__
/**/dist
packages/*/CHANGELOG.md
packages/orchestrator-ui-components/storybook-static/
/coverage
/mkdocs

/.changeset/*.md
!/.changeset/README.md

.next
node_modules

.turbo
