# Add files here to ignore them from prettier formatting

/**/__generated__
/**/dist
packages/*/CHANGELOG.md
/coverage
/mkdocs

/.changeset/*.md
!/.changeset/README.md

.next
node_modules

storybook-static

.turbo
